Variable Types
==============
2018/01/21

Edited by Hanson Chang

Reference sources: [tutorialpoints - LEARN PYTHON (Variable Syntax)](https://www.tutorialspoint.com/python/python_variable_types.htm), [Python Documentation (Built-in Types)](https://docs.python.org/2/library/stdtypes.html)

Variables (Objects)
-------
Variables are created when you assign a value to them. For example −

In [1]:
var1 = 100       # An integer
var2 = 1000.0    # A floating point
var3 = "John"    # A string

Note: Python is a compile-time type checking language and this is one of the reasons that makes Python runs slower than other language.

You can delete the reference to a number of objects by using the `del` statement. A single object or multiple objects can be deleted by using the `del` statement. For example −

In [21]:
del var1
del var2, var3

Multiple Assignment
------------------

Python allows you to assign a single value to several variables simultaneously or assign multiple variables with different values at the same time. For example −

In [26]:
a = b = c = 0
A, B, C = 1, 2, "John"

Standard Data Types
------------------
Python has four standard data types −

* **Numeric Type**
* Sequence Type
    * **string**
    * **list**
    * tuple
    * bytes and bytearray
    * set and frozenset
* Mapping Type
    * **dictionary**
* Boolean

Numeric Type
-------
Python supports four different numerical types −

* int (signed integers)
* long (long integers, they can also be represented in octal and hexadecimal)
* float (floating point real values)
* complex (complex numbers)

Note: In Python 3, type int and long have been merged together.

Examples:

|  int |         long          |  float  |     complex     |
|-----:|----------------------:|--------:|----------------:|
| `10` |      `51924361L`      |  `0.0`  |     `3.14j`     |
|`-786`|      `-0x19323L`      | `15.20` |`-.6545+4.53e-7j`|
| `080`|`0xDEFABCECBDAECBFBAEL`|`32.3e18`|    `3e26+0J`    |

In [47]:
value = -.6545+4.53e-7j
print(value)

(-0.6545+4.53e-07j)

Strings
-------
Strings in Python are identified as a continuous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ( `[]` and `[:]` ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

The plus (`+`) sign is the string concatenation operator and the asterisk (`*`) is the repetition operator. For example −

In [10]:
string = 'Hello World!'

print(string)          # Prints complete string
print(string[0])       # Prints first character of the string
print(string[2:7])     # Prints characters starting from 3rd to 5th
print(string[2:])      # Prints string starting from 3rd character to the end
print(string[2:-2])    # Prints characters starting from 3rd in the begin and end at 2nd from the end
print(string * 2)      # Prints string two times
print(string + 'TEST') # Prints concatenated string

Hello World!
H
llo W
llo World!
llo Worl
Hello World!Hello World!
Hello World!TEST

Lists
-----
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets (`[]`). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator (`[]` and `[:]`) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (`+`) sign is the list concatenation operator, and the asterisk (`*`) is the repetition operator. For example −

In [2]:
main_list = ['abcd', 786 , 2.23, 'john', 70.2]
tiny_list = [123, 'john']
multilevel_list = [main_list, tiny_list]

print(main_list)              # Prints complete list
print(main_list[0])           # Prints first element of the list
print(main_list[1:3])         # Prints elements starting from 2nd till 3rd 
print(main_list[2:])          # Prints elements starting from 3rd element
print(tiny_list * 2)          # Prints list two times
print(main_list + tiny_list)  # Prints concatenated lists
print(multilevel_list[1][1])  # Prints an element inside a multi-level list

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
john

Tuples
------
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets (`[]`) and their elements and size can be changed, while tuples are enclosed in parentheses (`()`) and cannot be updated. Tuples can be thought of as read-only lists. For example −

In [47]:
main_tuple = ('abcd', 786 , 2.23, 'john', 70.2)
tiny_tuple = (123, 'john')
multilevel_tuple = (main_tuple, tiny_tuple)

print(main_tuple)              # Prints complete tuple
print(main_tuple[0])           # Prints first element of the tuple
print(main_tuple[1:3])         # Prints elements starting from 2nd till 3rd 
print(main_tuple[2:])          # Prints elements starting from 3rd element
print(tiny_tuple * 2)          # Prints list two times
print(main_tuple + tiny_tuple) # Prints concatenated tuples
print(multilevel_tuple[1][1])  # Prints an element inside a multi-level tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
john

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists −

In [48]:
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple1[2] = 1000    # Invalid syntax with tuple
list1[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

Bytes and Bytearray
-------
Bytes and bytearray objects, being “strings of bytes”, have all methods found on strings, with the exception of `encode()`, `format()` and `isidentifier()`, which do not make sense with these types. For converting the objects to strings, they have a `decode()` method.

The difference between bytes and bytearray is that bytes, like strings, is an immutable sequence of bytes, whereas bytearray is mutable.

In [3]:
byte = b"python"
byte_array = bytearray(byte)
string = byte.decode()
print(type(byte), '\t', byte)
print(type(byte_array), '\t', byte_array)
print(type(string), '\t\t', string)
print(type(string.encode()), '\t', string.encode())

print('\nbyte_array.pop() :-', byte_array.pop())   # bytearray is mutable
print('        byte.pop() :-', byte.pop())               # bytes is immutable

<class 'bytes'> 	 b'python'
<class 'bytearray'> 	 bytearray(b'python')
<class 'str'> 		 python
<class 'bytes'> 	 b'python'

byte_array.pop() = 110

AttributeError: 'bytes' object has no attribute 'pop'

Set and Frozenset
-------
A set object is an unordered collection of distinct hashable objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection(`&`), union(`|`), difference(`-`), and symmetric difference(`^`).

The set type is mutable — the contents can be changed using methods like `add()` and `remove()`. Since it is mutable, it has no hash value and cannot be used as either a dictionary key or as an element of another set. The frozenset type is immutable and hashable — its contents cannot be altered after it is created; it can therefore be used as a dictionary key or as an element of another set.

Being an unordered collection, sets do not record element position or order of insertion. Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.

There are currently two built-in set types, set and frozenset. The set type is mutable — the contents can be changed using methods like `add()` and `remove()`. Since it is mutable, it has no hash value and cannot be used as either a dictionary key or as an element of another set. The frozenset type is immutable and hashable — its contents cannot be altered after it is created; it can therefore be used as a dictionary key or as an element of another set.

In [5]:
lista = [11, 22, 33, 44, 11, 55, 22, 66]
seta = set(lista)
print('seta =\t\t', seta)

setb = {22, 34, 26, 33, 38, 25}
print('setb =\t\t', setb)

print('seta & setb :-\t', seta & setb)
print('seta | setb :-\t', seta | setb)
print('seta - setb :-\t', seta - setb)
print('seta ^ setb :-\t', seta ^ setb)

seta.add(77)
print('updated seta :-\t', seta)

setb.remove(25)
print('updated setb :-\t', setb)

setc = seta | setb
print('setc =\t\t', setc)
print('setc.pop() :-\t', setc.pop())               # set is mutable
print('updated setc :-\t', setc)

frozensetc = frozenset(setc)
print('frozensetc =\t', frozensetc)
print('frozensetc.pop() :-\t', frozensetc.pop())   # frozenset is immutable

seta =		 {33, 66, 11, 44, 22, 55}
setb =		 {33, 34, 38, 22, 25, 26}
seta & setb :-	 {33, 22}
seta | setb :-	 {33, 66, 34, 38, 11, 44, 22, 55, 25, 26}
seta - setb :-	 {66, 11, 44, 55}
seta ^ setb :-	 {34, 66, 38, 11, 44, 55, 25, 26}
updated seta :-	 {33, 66, 11, 44, 77, 22, 55}
updated setb :-	 {33, 34, 38, 22, 26}
setc =		 {33, 66, 34, 38, 11, 44, 77, 22, 55, 26}
setc.pop() :-	 33
updated setc :-	 {66, 34, 38, 11, 44, 77, 22, 55, 26}
frozensetc =	 frozenset({66, 11, 77, 22, 26, 34, 38, 44, 55})

AttributeError: 'frozenset' object has no attribute 'pop'

Dictionary
---------
Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered.

Dictionaries are enclosed by curly braces (`{}`) and values can be assigned and accessed using square braces (`[]`). For example −

In [4]:
dictionary = {}
dictionary['one'] = "This is one"
dictionary[2] = "This is two"

tiny_dictionary = {'name': 'john','code': 6734, 'dept': 'sales'}


print(dictionary['one'])        # Prints value for 'one' key
print(dictionary[2])            # Prints value for 2 key
print(tiny_dictionary)          # Prints complete dictionary
print(tiny_dictionary.keys())   # Prints all the keys
print(tiny_dictionary.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

Data Type Conversion
-------------------

Sometimes, you may need to perform conversions between the built-in types. To convert between types, you simply use the type name as a function.

There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

|        Function       | Description                                                               |
|:----------------------|:--------------------------------------------------------------------------|
|`int(x [,base])`       |Converts `x` to an integer. base specifies the base if `x` is a string.    |
|`long(x [,base])`      |Converts `x` to a long integer. base specifies the base if `x` is a string.|
|`float(x)`             |Converts `x` to a floating-point number.                                   |
|`complex(real [,imag])`|Creates a complex number.                                                  |
|`str(x)`               |Converts object `x` to a string representation.                            |
|`eval(str)`            |Evaluates a string and returns an object.                                  |
|`tuple(s)`             |Converts `s` to a tuple.                                                   |
|`list(s)`              |Converts `s` to a list.                                                    |
|`dict(d)`              |Creates a dictionary. `d` must be a sequence of `(key, value)` tuples.     |
|`chr(x)`               |Converts an integer to a character.                                        |
|`unichr(x)`            |Converts an integer to a Unicode character.                                |
|`ord(x)`               |Converts a single character to its integer value. (ASCII code)             |
|`hex(x)`               |Converts an integer to a hexadecimal string.                               |
|`oct(x)`               |Converts an integer to an octal string.                                    |

In [52]:
a = 10+1j
line = 'print(a)'
eval(line)

(10+1j)

Boolean - Truth Value Testing
------------------

Any object can be tested for truth value, for use in `if` or `while` condition or as operand of the Boolean operations below. 

The following values are considered `False`:
* None
* `False`
* zero of any numeric type, for example, `0`, `0L`, `0.0`, `0j`.
* any empty sequence, for example, `''`, `()`, `[]`.
* any empty mapping, for example, `{}`.
* instances of user-defined classes, if the class defines a `__nonzero__()` or `__len__()` method, when that method returns the integer zero or bool value `False`.

All other values are considered `True` — so objects of many types are always `True`.

***Congrates! You are ready to move on!***